h1{
	color:red;
}
h2{
	color:green;
}
h3{
	color:black;
}
.news{
	color:purple;
}
.match{
	color:blue;
}
.Video{
	color:green;
}
.stat{
	color:red;
}
p1{
	color:red;
}
p2{
	color:green;
}
p3{
	color:black;
}